@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

body {
  background-color: #141414;
  overflow-x: hidden;
  overflow-y: hidden; /* 이 부분을 추가하면 세로 스크롤이 나타나지 않습니다. */
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
}

nav .left {
  display: flex;
  margin-left: 2em;
}

nav .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* 이미지를 부모 요소에 맞게 확장 */
  max-width: 300px;
  /* 이미지의 최대 너비를 지정 (원하는 크기로 조절) */
  height: auto;
  /* 세로 비율을 자동으로 조정하여 가로 비율을 유지 */
  margin: 0 auto;
}

nav .left .logo a {
  width: 100%;
}

nav .left .logo a img {
  max-width: 100%;
}

nav .right {
  display: flex;
  margin-right: 2em;
}

nav .right .icon {
  padding: 0.5em 1em 0.5em 1em;
}

nav .right .mobile-menu {
  display: none;
}

nav .right .menu-list {
  display: flex;
}

nav .right .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.2em 1em 0.5em 1em;
}

nav .right .menu-list li a {
  font-size: 1.2rem;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 30px;
}

.nav-link {
  color: #ffffff;
  border-bottom: 4px solid transparent;
  font-size: 1.2rem;
  padding-bottom: 4px;
}

.nav-link-1 {
  font-family: 'GmarketSansMedium', sans-serif;
}

.nav-link-1.active,
.nav-link-1:hover {
  border-color: #ffffff;
}

.menu-list .nav-link {
  font-size: 200px;
}

.menu-list .nav-link.active {
  font-weight: bold;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* 아래로 나열하도록 설정 */
}

.image-container {
  overflow-x: auto;
  white-space: nowrap;
}

.image-container img {
  width: auto;
  height: auto;
  max-height: 100vh;
  /* Adjust the maximum height as needed */
  max-width: 100%;
  display: inline-block;
}

/* Scrollbar 스타일 */
::-webkit-scrollbar {
  width: 12px;
  /* 수직 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* 스크롤바의 색상 */
  border-radius: 10px;
  /* 스크롤바의 모서리를 둥글게 만듭니다. */
}

::-webkit-scrollbar-track {
  background-color: #141414;
  /* 스크롤바의 트랙 색상 */
}

/* 가로 스크롤바에도 동일한 스타일을 적용하려면 아래 코드를 추가합니다. */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #ffffff;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #141414;
}

main .title_st {
  width: 100%;
  float: left;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

main .container h1.title_st span {
  color: #eeff06;
  /* 다른 색상으로 변경하세요 */
  font-size: 35px;
  /* 다른 크기로 변경하세요 */
}

label {
  display: inline-flex;
  /* 아이템을 중앙에 배치하기 위해 Flexbox 사용 */
  align-items: center;
  justify-content: center;
  /* 아이템을 수평 및 수직으로 중앙에 배치 */
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 3px solid #4caf50;
  border-radius: 50%;
  background-color: #ffffff;
  color: #4caf50;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 1437px) {
  main .description {
    bottom: 10%;
  }
}

@media screen and (max-width: 982px) {
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3em;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0)
    );
  }

  nav .left {
    display: flex;
    margin-left: 2em;
  }

  nav .left .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1500;
    padding: 0em;
    width: 20rem;
  }

  nav .left .logo a {
    width: 100%;
  }

  nav .left .logo a img {
    max-width: 100%;
  }

  nav .left .mobile-menu {
    z-index: 999;
    display: block;
    align-self: center;
    margin-left: 10px;
  }

  nav .left .mobile-menu:hover + .menu-list {
    display: flex;
  }

  nav .left .menu-list {
    display: none;
    top: 50px;
    z-index: 999;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.67);
    padding: 1em 4em;
  }

  nav .left .menu-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.2em 1em 0.5em 1em;
    margin: 0.3em 0;
  }

  nav .left .menu-list li a {
    font-size: 0.8rem;
  }

  nav .left .menu-list:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 1437px) {
  main .description {
    bottom: 10%;
  }
}

@media screen and (max-width: 982px) {
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3em;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0)
    );
  }

  nav .left {
    display: flex;
    margin-left: 2em;
  }

  nav .left .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1500;
    padding: 0em;
    width: 20rem;
  }

  nav .left .logo a {
    width: 100%;
  }

  nav .left .logo a img {
    max-width: 100%;
  }

  nav .left .mobile-menu {
    z-index: 999;
    display: block;
    align-self: center;
    margin-left: 10px;
  }

  nav .left .mobile-menu:hover + .menu-list {
    display: flex;
  }

  nav .left .menu-list {
    display: none;
    top: 50px;
    z-index: 999;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.67);
    padding: 1em 4em;
  }

  nav .left .menu-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.2em 1em 0.5em 1em;
    margin: 0.3em 0;
  }

  nav .left .menu-list li a {
    font-size: 0.8rem;
  }

  nav .left .menu-list:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    top: 0;
    left: 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: left;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
