@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.border-top-primary {
  border-left: 1rem solid #29aafe !important;
}

.border-top-warning {
  border-left: 1rem solid #ffc107 !important;
}

.border-top-danger {
  border-left: 1rem solid #ff8000 !important;
}

.border-top-info {
  border-left: 1rem solid #b6e0fa !important;
}

.border-top-foot {
  border-left: 1rem solid #45484b !important;
}

.border-top-fire {
  border-left: 1rem solid #dc3545 !important;
}


#Date_ {
  color: white; 
  margin-block-end: 1rem; 
  font-size: 2rem;
  font-family: 'GmarketSansMedium', sans-serif;
  margin-left: 20px;
}

.card {
  border: none;
  /* 카드 테두리 제거 */
  border-radius: 15px;
  /* 카드 모서리 둥글게 */
  transition: transform 0.3s;
  /* 마우스 호버 시 부드러운 효과 */
  font-family: 'GmarketSansMedium', sans-serif;
}

.card:hover {
  transform: scale(1.05);
  /* 마우스 호버 시 약간 확대 */
}

/* NAV */

.menu-list .nav-link {
  font-size: 200px;
}

.menu-list .nav-link.active {
  font-weight: bold;
}

.nav-link-1 {
  font-family: 'GmarketSansMedium', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
}

nav .left {
  display: flex;
  margin-left: 2em;
}

nav .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* 이미지를 부모 요소에 맞게 확장 */
  max-width: 300px;
  /* 이미지의 최대 너비를 지정 (원하는 크기로 조절) */
  height: auto;
  /* 세로 비율을 자동으로 조정하여 가로 비율을 유지 */
  margin: 0 auto;
}

nav .left .logo a {
  width: 100%;
}

nav .left .logo a img {
  max-width: 100%;
}

nav .right {
  display: flex;
  margin-right: 2em;
}

nav .right .icon {
  padding: 0.5em 1em 0.5em 1em;
}

nav .right .mobile-menu {
  display: none;
}

nav .right .menu-list {
  display: flex;
}

nav .right .menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.5em 0.1em 0em 0.1em;
}

nav .right .menu-list li a {
  font-size: 1.2rem;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 30px;
}

.nav-link {
  color: #ffffff;
  border-bottom: 4px solid transparent;
  font-size: 1.2rem;
  padding-bottom: 4px;
}

.nav-link:hover {
  color: #ffffff;
  /* 마우스 호버 시 색상을 다시 흰색으로 설정 */
  border-color: transparent;
  /* 마우스 호버 시 테두리 색상 변경 제거 */
}

.nav-link-1.active,
.nav-link-1:hover {
  border-color: #ffffff;
}

/* nav end */

body {
  background-color: #141414;
}

.tm-mb-74 {
  font-size: 2rem;
  margin: 0;
}

.h2 {
  font-size: 92px;
  height: 100px;
  margin-top: 2rem;
  letter-spacing: -2px; /* 음수 값으로 조절하여 가로 간격을 줄입니다. */
}

.text-secondary1 {
  color: #dc3545 !important;
}

.text-danger {
  color: #ff8000 !important;
}

.today {
  display : flex; 
  font-size: 3.25rem; /* Adjust the font size as needed */
  color: #ffffff; /* Set the text color */
  font-family: 'GmarketSansMedium', sans-serif;
}

.clock {
  display : flex; 
  font-size: 5.5rem; /* Adjust the font size as needed */
  color: #ffffff; /* Set the text color */
  font-family: 'GmarketSansMedium', sans-serif;
  height: 100px;
}


/* Center the parent container */
.parent {
  flex-direction: column; /* 세로 방향으로 배치 */
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -15%);
  margin-top: 3rem;
}