.border-left-primary {
    border-left: 1.0rem solid #4e73df !important;
}

.border-left-warning {
    border-left: 1.0rem solid #ffc107 !important;
}

.border-left-danger {
    border-left: 1.0rem solid #e02d1b !important;
}

.border-left-info {
    border-left: 1.0rem solid #36b9cc !important;
}

.card {
    border: none;
    /* 카드 테두리 제거 */
    border-radius: 15px;
    /* 카드 모서리 둥글게 */
    transition: transform 0.3s;
    /* 마우스 호버 시 부드러운 효과 */
}

.card:hover {
    transform: scale(1.05);
    /* 마우스 호버 시 약간 확대 */
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item-group {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-item {
    flex: 0 0 33.33%;
    /* 한 번에 보일 이미지 수에 따라 조절 (3장일 경우 33.33%) */
    text-align: center;
    /* 이미지 가운데 정렬을 위해 추가 */
}

.carousel-item img {
    width: 100%;
    /* 이미지를 부모 요소에 맞게 100%로 설정 */
    max-width: 100%;
    /* 이미지 원래 크기보다 크게 키우지 않도록 설정 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 조절 */
}

/* blog section start */
.about_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top : 30px;
    padding-bottom: 0px;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}


.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
    max-height: 550px; 
    overflow: hidden;
}



.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px;
    padding: 0px 0px 30px 0px;
}


img {
    max-width: 100%;
    height: auto;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #3b3b3b;
    margin: 0px;
    padding: 0px 20px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-block-end: 5%;
}

/* blog section end */


/* NAV */

.menu-list .nav-link {
    font-size: 200px;
}

.menu-list .nav-link.active {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  }

nav .left {
    display: flex;
    margin-left: 2em;
}

nav .left .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 이미지를 부모 요소에 맞게 확장 */
    max-width: 300px; /* 이미지의 최대 너비를 지정 (원하는 크기로 조절) */
    height: auto; /* 세로 비율을 자동으로 조정하여 가로 비율을 유지 */
    margin: 0 auto;
}
nav .left .logo a {
    width: 100%;
}
nav .left .logo a img {
    max-width: 100%;
}
  
nav .right {
    display: flex;
    margin-right: 2em;
}
nav .right .icon {
    padding: 0.5em 1em 0.5em 1em;
}
  
nav .right .mobile-menu {
    display: none;
}
nav .right .menu-list {
    display: flex;
}
nav .right .menu-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.5em 0.1em 0em 0.1em;
}
nav .right .menu-list li a {
    font-size: 1.2rem;
}
  
.nav-item { margin-right: 30px; }
.nav-item:last-child { margin-right: 30px; }
  
.nav-link {
      color: #ffffff;
      border-bottom: 4px solid transparent;
      font-size: 1.2rem;
      padding-bottom: 4px;
}
.nav-link:hover {
    color: #ffffff; /* 마우스 호버 시 색상을 다시 흰색으로 설정 */
    border-color: transparent; /* 마우스 호버 시 테두리 색상 변경 제거 */
  }
  
.nav-link-1.active,
.nav-link-1:hover {
      border-color: #ffffff;
}


/* nav end */

body {
    background-color: #141414;
}

.tm-mb-74 {
    font-size: 2rem;
}