<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>금남지하도상가 : 상가정보</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="static/css/templatemo-style.css" />

    <!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
  </head>
  <style>
    .navbar-brand {
      font-size: 24px; /* 원하는 폰트 크기로 설정 */
    }
    .text-right {
      text-align: right;
    }
  </style>
  <body>
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bold text-dark" href="#">
          금남지하도상가
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link nav-link-1" href="/">메인화면</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-3 active"
                aria-current="page"
                href="/info"
                >상가정보</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center">
      <div class="d-flex tm-search-form">
        <input
          id="searchInput"
          class="form-control tm-search-input border-0"
          type="search"
          placeholder="Search"
          aria-label="Search"
          style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)"
        />
        <button
          id="searchButton"
          class="btn btn-outline-primary tm-search-btn"
          type="button"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="container-fluid tm-container-content tm-mt-60">
      <div class="row mb-4 justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/info'"
            class="btn btn-outline-primary btn-block rounded-pill"
          >
            의류(옷/속옷)
          </button>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/alter'"
            class="btn btn-outline-primary btn-block rounded-pill"
          >
            수선
          </button>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/shoes'"
            class="btn btn-outline-primary btn-block rounded-pill"
          >
            신발(잡화)
          </button>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/jew'"
            class="btn btn-outline-primary btn-block rounded-pill"
          >
            보석
          </button>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/cos'"
            class="active btn btn-outline-primary btn-block rounded-pill"
          >
            화장품(미용)
          </button>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/phone'"
            class="btn btn-outline-primary btn-block rounded-pill"
          >
            핸드폰
          </button>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
          <button
            type="button"
            onclick="location.href='/etc'"
            class="btn btn-outline-primary btn-block rounded-pill"
          >
            기타
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-4" style="margin-left: 20px">
      <h2 class="text-xs font-weight-bold text-primary">상가정보</h2>
    </div>

    <div class="row tm-mb-90 tm-gallery">
      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel"></h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="store-info"></p>
              <img
                class="store-image"
                alt="Store Image"
                class="img-fluid"
                style="max-width: 100%"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <figure
          class="effect-ming tm-video-item"
          data-toggle="modal"
          data-target="#myModal"
        >
          <img src="static/img/세이화장품.png" alt="Image" class="img-fluid" />
          <figcaption class="d-flex align-items-center justify-content-center">
            <h2 class="tm-store-name">세이화장품</h2>
            <a href="javascript:void(0);" class="tm-view-more">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <figure
          class="effect-ming tm-video-item"
          data-toggle="modal"
          data-target="#myModal"
        >
          <img src="static/img/카라가발.jpeg" alt="Image" class="img-fluid" />
          <figcaption class="d-flex align-items-center justify-content-center">
            <h2 class="tm-store-name">카라남녀가발붙임머리전문점</h2>
            <a href="javascript:void(0);" class="tm-view-more">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <figure
          class="effect-ming tm-video-item"
          data-toggle="modal"
          data-target="#myModal"
        >
          <img src="static/img/img-03.jpg" alt="Image" class="img-fluid" />
          <figcaption class="d-flex align-items-center justify-content-center">
            <h2 class="tm-store-name">시선집중</h2>
            <a href="javascript:void(0);" class="tm-view-more">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <figure
          class="effect-ming tm-video-item"
          data-toggle="modal"
          data-target="#myModal"
        >
          <img src="static/img/아리따움.png" alt="Image" class="img-fluid" />
          <figcaption class="d-flex align-items-center justify-content-center">
            <h2 class="tm-store-name">아리따움</h2>
            <a href="javascript:void(0);" class="tm-view-more">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <figure
          class="effect-ming tm-video-item"
          data-toggle="modal"
          data-target="#myModal"
        >
          <img src="static/img/img-04.jpg" alt="Image" class="img-fluid" />
          <figcaption class="d-flex align-items-center justify-content-center">
            <h2 class="tm-store-name">에버그린보떼</h2>
            <a href="javascript:void(0);" class="tm-view-more">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <figure
          class="effect-ming tm-video-item"
          data-toggle="modal"
          data-target="#myModal"
        >
          <img src="static/img/img-05.jpg" alt="Image" class="img-fluid" />
          <figcaption class="d-flex align-items-center justify-content-center">
            <h2 class="tm-store-name">센스붙임머리</h2>
            <a href="javascript:void(0);" class="tm-view-more">View more</a>
          </figcaption>
        </figure>
      </div>

      <!-- row -->
      <div class="row tm-mb-90">
        <div
          class="col-12 d-flex justify-content-between align-items-center tm-paging-col"
        >
          <a
            href="javascript:void(0);"
            class="btn btn-primary tm-btn-prev mb-2 disabled"
            >Previous</a
          >
          <div class="tm-paging d-flex">
            <a href="javascript:void(0);" class="active tm-paging-link">1</a>
          </div>
          <a
            href="javascript:void(0);"
            class="btn btn-primary tm-btn-next disabled"
            >Next Page</a
          >
        </div>
      </div>
    </div>

    <script src="static/js/plugins.js"></script>
    <script>
      $(window).on("load", function () {
        $("body").addClass("loaded");
      });

      document.addEventListener("DOMContentLoaded", function () {
        const stores = [
          {% for store in data %}
            {
              name: "{{ store['상가명'] }}",
              category: "{{ store['업종'] }}",
              location: "{{ store['위치'] }}"
            },
          {% endfor %}
        ];


        const modal = document.getElementById("myModal");
        const modalTitle = modal.querySelector(".modal-title");
        const storeInfo = modal.querySelector(".store-info");
        const storeImage = modal.querySelector(".store-image");

        // 버튼 클릭 시 모달 열기
        function openModal(store) {
          modalTitle.textContent = store.name;
          storeInfo.innerHTML = `
            상가명: ${store.name}<br />
            카테고리: ${store.category}<br />
            위치: ${store.location}
          `;

          $(modal).modal("show");
        }

        // 각 버튼에 click 이벤트 추가
        const buttons = document.querySelectorAll(".tm-video-item");
        buttons.forEach((button, index) => {
          button.addEventListener("click", () => {
            openModal(stores[index]);
          });
        });
      });

      function removePlaceholder(element) {
        element.placeholder = "";
      }

      function restorePlaceholder(element) {
        element.placeholder = "Search";
      }
      function performSearch() {
        const searchValue = document
          .getElementById("searchInput")
          .value.toLowerCase();
        const titles = document.querySelectorAll(".tm-store-name");

        titles.forEach(function (title) {
          const titleText = title.textContent.toLowerCase();
          const parentDiv = title.closest(".col-lg-4");

          if (titleText.includes(searchValue)) {
            parentDiv.style.display = "block";
          } else {
            parentDiv.style.display = "none";
          }
        });

        const visibleImages = document.querySelectorAll(
          '.col-xl-3[style="display: block;"]'
        );
        if (visibleImages.length === 1) {
          document
            .querySelectorAll('.col-xl-3:not([style="display: block;"])')
            .forEach(function (hiddenImage) {
              hiddenImage.style.display = "none";
            });
        }
      }

      // 검색 버튼 클릭 이벤트
      document
        .getElementById("searchButton")
        .addEventListener("click", performSearch);

      // Enter 키 이벤트
      document
        .getElementById("searchInput")
        .addEventListener("keyup", function (event) {
          if (event.key === "Enter") {
            performSearch();
          }
        });
    </script>
  </body>
</html>
