<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech Application</title>
  </head>
  
  <body>
    <div class="words"></div>
    <button id="startSpeechButton">음성 시작</button>
    <button id="button1">1번 출구</button>
    <button id="button2">2번 출구</button>
    <button id="button3">3번 출구</button>
    <button id="button4">4번 출구</button>
    <button id="button5">19번 출구</button>
    <button id="button6">20번 출구</button>
    <button id="button7">21번 출구</button>
    <button id="button8">22번 출구</button>

    <script src="static/js/test.js"></script>
  </body>
</html>
